body,
button,
input,
select,
textarea {
  font-family: "Ubuntu", sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

#dataDisplay {
  width: 100%;
}

table {
  width: auto;
  margin: 0 auto 20px;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px 16px;
  border-bottom: 1px solid #333;
}

th {
  font-weight: bold;
}

.no-blocks {
  color: #666666;
}

.network-info {
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
}

.network-info h2 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.network-info p {
  margin-top: 0;
  margin-bottom: 10px;
}

.download-link {
  margin-top: 10px;
  text-align: center;
}

.download-link a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  transition: opacity 0.3s;
  font-weight: bold;
}

.download-link a:hover {
  opacity: 0.7;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-link svg {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s;
}

.social-link:hover svg {
  opacity: 0.7;
}
